/*Estilos da página Index.html e contato.html - Atividade 2*/
.center{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 40px 20px;
    color: #bc74b6;
}
/*Imagem*/
img.foto {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto 
}

body{
    background-color: #f4ebdc;
    margin:2px 1em 0 auto; /*sequencia: topo | direita | inferior | esquerda */
    padding: 15px;
    
}

/* Barra de navegação.*/
.navbar {
    overflow: auto; /*seria a quebra de linha*/
    background-color: #f4ebdc; /*cor da barra de nav*/
    position: fixed; /*Muda a posição da barra nav - altura/sobrepoe/etc */
    top: 0; /* Posição da barra de nav - no caso 0 pois está no topo!*/
    width: auto; /* largura da navbar? */
  }
  
  /* Links na barra de navegação */
  .navbar a {
    display: inline-block;
    color: #d4a1ac; /*cor do texto*/
    text-align: center; /*alinhamento do texto*/
    padding: 13px 13px; /*tamanho do botão da barra nav*/
    text-decoration: none; /*tira o underline do texto*/
  }
  
  /* Mudar o fundo da barra de navegação */
  .navbar a:hover {
    background: #ddd; /*cor da barra de nav quando passa o mouse*/
    color: #bc74b6; /*cor do texto quando passa o mouse*/
  }
  
  /* Main content */
  .main {
    margin-top: 5px /*Adiciona uma margem evitanto sobreposição*/
  }

  /*essa div altera o maps*/
  .container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

/*Estilos da página Index.html e contato.html - Atividade 2*/