/*Estilos da página Index.html - Atividade 2*/
.center{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    color: #bc74b6;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #f4ebdc;
    margin: 0;
    padding: 15px;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #f4ebdc;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: auto; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #d4a1ac;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: #bc74b6;
  }
  
  /* Main content */
  .main {
    margin-top: 3em; /* Add a top margin to avoid content overlay */
  }

/*Estilos da página Index.html - Atividade 2*/