/*Estilos da página Index.html e contato.html - Atividade 2*/
.center{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    color: #bc74b6;
}
/*Imagem*/
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #f4ebdc;
    margin: 5px, 5px; 
    padding: 15px;
    
}

/* Barra de navegação.*/
.navbar {
    overflow: auto; /*seria a quebra de linha*/
    background-color: #f4ebdc; /*cor da barra de nav*/
    position: fixed; /*Muda a posição da barra nav - altura/sobrepoe/etc */
    top: 0; /* Posição da barra de nav - no caso 0 pois está no topo!*/
    width: auto; /* largura da navbar? */
    
  }
  
  /* Links na barra de navegação */
  .navbar a {
    float: left; /*é a ordem dos links da navbar*/
    display: block;
    color: #d4a1ac; /*cor do texto*/
    text-align: center; /*alinhamento do texto*/
    padding: 13px 13px; /*tamanho do botão da barra nav*/
    text-decoration: none; /*tira o underline do texto*/
  }
  
  /* Mudar o fundo da barra de navegação */
  .navbar a:hover {
    background: #ddd; /*cor da barra de nav quando passa o mouse*/
    color: #bc74b6; /*cor do texto quando passa o mouse*/
  }
  
  /* Main content */
  .main {
    margin-top: 5px /*Adiciona uma margem evitanto sobreposição*/
  }

/*Estilos da página Index.html e contato.html - Atividade 2*/